In [2]:
import pandas as pd

In [7]:
#import the data
df = pd.read_csv("data/heights.csv")
df.head(2)

   id first_name last_name  height_in
0   1       kyle   johnsen         75
1   2      brook    bowers         67

In [10]:
names= ["erin","claire"]
manual_df = pd.DataFrame({
    "id":[6,7],
    "first_name": names,
    "last_name":["johnsen","johnsen"],
    "height_in":[70,59]
    
})
manual_df.head()

   id first_name last_name  height_in
0   6       erin   johnsen         70
1   7     claire   johnsen         59