In [13]:
import pandas as pd
import re

In [14]:
df = pd.DataFrame({"name":["Kyle Johnsen", "Brook Bowers", "Andrew Rukangu","Andrew"]})
df.name.str.extract(r"^([a-z]+) +([a-z]+)$",flags=re.IGNORECASE )
#valid_names=df.name.str.match(r"^([A-Za-z]+) +([A-Za-z]+)$")
#df[valid_names]
#df.name.str.split(expand=True)

        0        1
0    Kyle  Johnsen
1   Brook   Bowers
2  Andrew  Rukangu
3     NaN      NaN