In [1]:
import pandas as pd
import re

In [4]:
df = pd.DataFrame({"name":["Kyle Johnsen", "Brook Bowers", "Andrew Rukangu","Andrew"]})
df_names = df.name.str.extract(r"^([a-z]+) +([a-z]+)$",flags=re.IGNORECASE )
#valid_names=df.name.str.match(r"^([A-Za-z]+) +([A-Za-z]+)$")
#df[valid_names]
#df.name.str.split(expand=True)

In [18]:
df_c = pd.concat([df,df_names],axis=1)
df_c.rename(columns={0:"FirstName",1:"LastName"},inplace=True)
def combineNames(x):
    return f"{x.FirstName}-{x.LastName}"
df_c.apply(combineNames ,axis=1)

0      Kyle-Johnsen
1      Brook-Bowers
2    Andrew-Rukangu
3           nan-nan
dtype: object

             name       0        1
0    Kyle Johnsen     NaN      NaN
1    Brook Bowers     NaN      NaN
2  Andrew Rukangu     NaN      NaN
3          Andrew     NaN      NaN
0             NaN    Kyle  Johnsen
1             NaN   Brook   Bowers
2             NaN  Andrew  Rukangu
3             NaN     NaN      NaN